.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: white;  
}

.button:hover {
    text-shadow: 1px 1px 10px black, 0 0 5px goldenrod, 0 0 15px goldenrod, 0 0 25px goldenrod, 0 0 35px goldenrod, 0 0 50px goldenrod, 0 0 65px goldenrod;  
}