.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: transparent;
    text-decoration: none;
    color: orange;   
}

.button:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #DDCD48 0px 0px 20px, #DDCD48 0px 0px 30px, #DDCD48 0px 0px 40px, #DDCD48 0px 0px 50px, #DDCD48 0px 0px 75px, 21px 10px 19px rgba(221,205,72,0);
}