.button {
    font-family: 'Bebas Neue', cursive;
    background-color: transparent;
    text-decoration: none;
    font-size: 20px;
    color: rgba(247, 202, 24, 1);
    border: 1px solid goldenrod; 
    padding: 5px;
}

.button:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #DDCD48 0px 0px 20px, #DDCD48 0px 0px 30px, #DDCD48 0px 0px 40px;
    border: 2px solid #DDCD48;
}