/* add .button class to your html code */

.button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid goldenrod;
    border-radius: 40px;
    font-size: 1.5rem;
    padding: 0.6em 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    color: goldenrod;
    
}

.button:hover {
    box-shadow: 0 0 10px 0 goldenrod inset, 0 0 20px 2px goldenrod;
    border: 2px solid goldenrod;
}